<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메시지 목록</title>
</head>
<body>
<h1>메시지 목록</h1>
<div id="messages">
  <ul>
    <!-- messages 리스트를 반복하여 각 메시지 표시 -->
    <th:block th:each="message : ${messages}">
      <li>
        <p th:text="${message.content}"></p>
        <div th:each="file : ${message.getAttachmentIds}">
          <a th:href="@{'/api/files/' + ${file}}" th:text="'파일 다운로드: ' + ${file}"></a>
        </div>
      </li>
    </th:block>
  </ul>
</div>
</body>
</html>
